<div class="row">
  <div class="mt-5 mx-auto">
    <a routerLink='/admin' class="btn btn-success btn-circle mr-4 p-3"><img src="../assets/images/admin2.png" alt="">
      Products </a>
    <a routerLink='/AdminUser' class="btn btn-success btn-circle mr-4  p-3"><img src="../assets/images/admin4.png" alt="">
      Users </a>
    <a routerLink='/adminslider' class="btn btn-success btn-circle mr-4  p-3"><img src="../assets/images/admin3.png" alt=""> Slide</a>
    <a routerLink='/admincomment' class="btn btn-success btn-circle mr-4  p-3"><img src="../assets/images/admin1.png" alt=""> Comment</a>
    <a routerLink='/quanlyproduct' class="btn btn-success btn-circle mr-4  p-3"><img src="../assets/images/confirm1.png" alt="">Confirm product </a>
  </div>
</div>
<div class="row">
  <div class="mt-3 mx-auto">
    <h4><i>Chào Admin Đến Với Trang Quảng Trị</i></h4>
  </div>
</div>