/* #c7d8c6 You can add global styles to this file, and also import other style files eddbcd   #ff531d   #f7c331*/
.bg-light {
    background-color:#DDDDDD!important;
}
   
.dropdown-menu{
    background-color:#F74906!important; 
} 
.content-1{
    background-color: white;
}
.sticky-top{
    border-bottom: 8px solid #554E44;
    background-color:#F74906
    // !important;
}

.content-events{
  border-top: 5px solid  #C03221;
}
#navbarSupportedContent1 a{
color: #41b3a3;
font-size: 20px;
}
#note{
    font-style: italic;
    color: darkgreen;
}
body{
    font-family: 'Comic Sans MS';
    background-color: #F2d0a4;
}




