<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]='registerForm'>
            <div class="form-group">
              <label for="uname1">email</label>
              <input formControlName='email' matInput type="text" [(ngModel)]="registerUserData.email" name="email" class="form-control rounded-0" required>
            <br>
            <span class="col alert alert-danger" *ngIf="isValid('email')">Entered email is invalid</span>
            </div>
          
            <div class="form-group">
              <label>Password</label>
              <input formControlName='password' matInput type="password" [(ngModel)]="registerUserData.password" name="password" class="form-control rounded-0"  required>
           <br>
           <span class="col alert alert-danger" *ngIf="isValid('password')">Password không được để trống</span>
            </div>
           
            <div class="form-group">
              <label> Confirm Password</label>
              <input formControlName='cfpw' matInput type="password"  class="form-control rounded-0"  required>
            <br>
            <span class="col alert alert-danger" *ngIf="isValid('cfpw')">Xác nhận password không chính xác</span>
            </div>
           
            <div class="form-group">
                <label>fullname</label>
                <input formControlName='fullname' matInput type="text" [(ngModel)]="registerUserData.fullname" name="fullname" class="form-control rounded-0"  required>
            <br>
            <span class="col alert alert-danger" *ngIf="isValid('fullname')">Username is required</span>
              </div>
           
            <div class="form-group">
                <label>Address</label>
                <input formControlName='address' matInput type="text" [(ngModel)]="registerUserData.address" name="address" class="form-control rounded-0"  required>
            <br>
            <span class="col alert alert-danger"  *ngIf="isValid('address')">Username is required</span>
              </div>
           
            <button type="button" (click)="registerUser()" class="btn btn-primary float-right">Register</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>